<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
    <title>Estoque</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mt-4">
        <div class="row mb-4">
            <h3 class="text-uppercase col-md-9">Itens</h3>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/itens/cadastrar}"
                class="btn btn-success ms-auto col-3">Adicionar Item</a>
        </div>
        <!-- Caixa de alerta para exibir mensagens -->
        <div id="alert-box"></div>
        <table class="table no-wrap table-striped table-bordered">
            <thead class="table-dark" style="width: 100%;">
                <tr>
                    <th scope="col" class="border-0 text-uppercase font-medium">Nome</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Descrição</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Quantidade</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col" class="border-0 text-uppercase font-medium">
                        Ações</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <!-- Verifica se a lista de itens está vazia e exibe uma mensagem -->
                <tr th:if="${#lists.isEmpty(itens)}">
                    <td colspan="6" class="text-center">Nenhum produto cadastrado</td>
                </tr>
                <tr th:each="item : ${itens}" th:id="'linha_'+${item.id}">
                    <td>
                        <h5 th:text="${item.name}" class="font-medium"></h5>
                    </td>
                    <td>
                        <h5 th:text="${item.description}" class="font-medium"></h5>
                    </td>
                    <td>
                        <h5 th:text="${item.amount}" class="font-medium"></h5>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/itens/{id}/edit(id=${item.id})}" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button th:onclick="'deleteItem(' + ${item.id} + ')'" type="button" onclick="deleteItem()"
                            class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginação -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/itens(page=${currentPage-1}, size=5)}">Anterior</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages-1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:text="${i + 1}" th:href="@{/itens(page=${i}, size=5)}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/itens(page=${currentPage+1}, size=5)}">Próximo</a>
                </li>
            </ul>
        </nav>

        <div class="text-center">
            <a th:href="@{/}" class="btn btn-danger">Voltar ao Ínicio</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);

            if (urlParams.has('itemEditSuccessful') && urlParams.get('itemEditSuccessful') === 'true') {
                showSuccessAlert('Item editado com sucesso!');
            }

            if (urlParams.has('itemNotFound') && urlParams.get('itemNotFound') === 'true') {
                showErrorAlert('Item não encontrado.');
            }
        });

        function deleteItem(id) {
            fetch(`/itens/${id}/delete`, {
                method: 'DELETE'
            }).then(response => {
                if (response.status === 204) {
                    showSuccessAlert('Item ' + id + ' excluído com sucesso!');
                    document.getElementById('linha_' + id).remove();
                    var tbody = document.getElementById('tbody');
                    if (tbody.children.length === 0) {
                        tbody.innerHTML = '<tr><td colspan="6" class="text-center">Nenhum produto cadastrado</td></tr>';
                    }
                } else {
                    showErrorAlert('Erro ao excluir o item ' + id);
                }
            }).catch(error => {
                showErrorAlert('Erro ao excluir o item ' + id);
            });
        }

        function showSuccessAlert(message) {
            const alertBox = document.getElementById('alert-box');
            alertBox.innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                    ${message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
        }

        function showErrorAlert(message) {
            const alertBox = document.getElementById('alert-box');
            alertBox.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    ${message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
        }
    </script>
</body>

</html>